.body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
  
  /* background-color: #f3f4f6; Light background color */
  /* background-image: url(../Assets/government.jpg); */
}

.form{
  position: fixed; 
    top: 50%; 
    left: 5%; 
    transform: translateY(-50%); 
    background-color: #003893; 
    padding: 30px;
    border-radius: 10px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    color: white; 
    width: 350px; 
    z-index: 1000;
    transition: opacity 0.5s ease-in-out;
}
.form input,textarea{
  padding: 10px;
  margin: 10px 0;
  width: 90%;
  border: none;
  border-radius: 5px;
}

.form button{
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-top: 10px;
  background-color: white;
  color: #003893;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.form button:hover {
  background-color: lightblue;
}
.body h2 {
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
  text-align: center;
}
h3 {
  color: white;
  margin-top: 10px;
  text-align: center;
}


